body{
	padding: 0;
	margin: 0;
	background-color: rgba(200,200,200);
	background: url(../DOLLAR1.jpeg);
	font-size: 100%;
}
h1{
	text-align: center;
	border: outset 3px rgb(200,200,200);
	padding-bottom: 5px;
	background-color: rgba(255,255,255,.6);

}
h2 {
	text-align: center;
}
label {
	padding-right: 10px;
}
label + input {
	background: rgba(10, 150, 10, .5);
}
fieldset {
	background-color: rgba(0,153,0,.3);
	border: outset 3px rgba(200,200,200,.9);
}
input {
	width: auto;
}
textarea {
	width: 50%;
	min-height: 100px;
}
footer {
	float: right;
	font-size: .7em;
}
.container {
	padding: 20px;
	margin: 20px;
	border: solid #000 1px;
	background-color: rgba(255,255,255,.6);
}
.info {
	font-size: 1.5em;
}
.loan-type	{
	font-size: 1.5em;
}
.loan-length {

}
.special-conditions {

}
.additional-comments {

}
.submit {
	margin-top: 10px;
}
input[type="email"]:invalid {
	background-color: rgba(250, 0, 0, .5);
}
input[type="email"]:valid {
	background-color: rgba(10, 150, 10, .5);
}
input[type="url"]:invalid {
	background-color: rgba(250, 0, 0, .5);
}
input[type="url"]:valid {
	background-color: rgba(10, 150, 10, .5);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bbb;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bbb;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bbb;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #bbb;
}




