img {
	width: 100%;

}

.famousPeople:nth-of-type(even) {
	background-color: rgba(237,237,59,.6);
}

.famousPeople:nth-of-type(odd) {
	background-color: rgba(59,159, 237, .6);
}

.container {
	width: 50%;
}

.border {
	border: 2px dotted red;
}




